addict==2.4.0
albumentations
numpy
opencv-python
pandas
perceptual==0.1
pillow
pyyaml
scikit-image
scikit-learn
scipy
tensorboardX
tifffile
timm==0.3.2
torch
torchvision
tqdm
typing-extensions
yacs
yapf==0.31.0
